.note-error {
    color: #b94a48 !important;
}

.selected_row{
    background-color: #7C9B9C !important;
    border: 1px solid #7C9B9C !important;
}
.selected_row td{
    background-color: #7C9B9C !important;
    border: 1px solid #7C9B9C !important;
}
.select_files_wrapper{
    position: relative;
    height: 41px;
    width: 100%;
}
.select_files{
    border-radius: 0;
    left: 0;
    margin: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.upload_files_list{
    border: 3px dashed #CDCDCD;
    min-height: 100px;
    width: 100%;
    color: #CDCDCD;
    cursor: pointer;
}
.upload_files_list:hover{
    border: 3px dashed #939393;
    color: #939393;
}

.drag_n_drop_files_info{
    display: inline-block;
    font-size: 26px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-weight: normal;
}
.select_files_wrapper .select_file_container{
    width: 100%;
    height: 100%;
}
#upload_files .close{
    color: red;
}




#drag_n_drop_upload_files_container {
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
#drag_n_drop_upload_files_container.in {
    /*width: 600px;*/
    height: 100px;
    /*line-height: 200px;*/
    /*font-size: larger;*/
    border: 3px dashed #939393;
    color: #939393;
}
#drag_n_drop_upload_files_container.hover {

}
#drag_n_drop_upload_files_container.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}



.prod_prop_item{
    /*border: 1px dotted #CDCDCD;*/
    /*margin-bottom: 10px;*/
    /*padding: 15px;*/
}

.prod_prop_value{
    padding: 13px;
    min-height: 55px;
}

.prod_prop_item_wrapper{
    border: 1px dotted #CDCDCD;
    margin-bottom: 10px;
    padding: 15px;
}



.select_file_container{
    cursor: pointer !important;
    height: 24px;
    overflow: hidden;
    position: absolute;
    width: 89px;
}
.select_file_container .select_file_btn{

}
.select_file_container .select_file_input{
    cursor: pointer !important;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}



.sort_handler{
    font-size: 14px;
    height: 29px;
    padding-top: 5px;
    text-align: center;
    width: 17px;
}


.sort_handler:active
{
    cursor: zoom-in;
}

.image_btn_container{
    float: left;
    padding: 0 5px 0 0;
}

.filter-wrapper{
    -moz-box-shadow: 0 0 3px #776363;
    -webkit-box-shadow: 0 0 3px #776363;
    box-shadow: 0 0 3px #776363;
    margin: 20px 0;
    padding: 10px 0;
    background: none repeat scroll 0 0 #DEDEDE;
    border-radius: 4px;
    width: 434px;
    position: fixed;
    right: 25px;
    top: 70px;
    z-index: 1;
}


.filter-wrapper .filter-tools-bar{
    padding: 6px 20px 20px 20px;
}
.filter-wrapper .filter-item-title{
    width: 130px;
    max-width: 130px;
}

.filter-wrapper select{
    width: 180px;
}
.filter-wrapper input[type="text"]{
    width: 180px;
}

.filter-wrapper .filter_datepicker{
    width: 100px!important;
}

.filter-wrapper .filter_numrange{
    width: 100px!important;
}

.filter-wrapper .toggle-filter{
    background-color: #CCCCCC;
    font-size: 20px;
    margin-bottom: -10px;
    text-align: center;
}

.filter-wrapper .filter-title{
    font-size: 20px;
    padding-left: 25px;
}

#widget-filter .filter-tools-bar{
    padding: 6px 20px 20px 20px;
}
#widget-filter .filter-item-title{
    width: 130px;
    max-width: 130px;
}

#widget-filter select{
    width: 180px;
}
#widget-filter input[type="text"]{
    width: 180px;
}

#widget-filter .filter_datepicker{
    width: 100px!important;
}

#widget-filter .filter_numrange{
    width: 100px!important;
}

#widget-filter .toggle-filter{
    background-color: #CCCCCC;
    font-size: 20px;
    margin-bottom: -10px;
    text-align: center;
}

#widget-filter .filter-title{
    font-size: 20px;
    padding-left: 25px;
}

.input_disable_container{
    position: relative;
}
.disable_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none #c2c2c2;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.photo_sort_handler,
.sortability_icon_cell
{
    color: #B79D7F;
    overflow: hidden;
    cursor: url("/assets/admin/images/openhand.cur"), default;
}

.photo_sort_handler:active{
    cursor: url("/assets/admin/images/closedhand.cur"), default;
}

.sortability_icon_cell,
.sortability_icon_cell_h
{
    border-right: none!important;
}
.sortability_icon_cell+td,
.sortability_icon_cell_h+td
{
    border-left: none!important;
}

.sortability_icon_cell.not_active {
    background: none;
    cursor: default;
    width: 0;
}
.td_left{
    text-align: center;
}

.overlay_form_edit{
    background: url("/assets/admin/images/loader.gif") no-repeat scroll center center #CDCDCD;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

#dev-tools-wrapper,
#dev-tools-bar
{
    z-index: 9999;
    top: 60px!important;
}

.module_info_tab_content{
    padding: 10px;
}


.image_gallery_item_container{
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 55px;
    cursor: pointer;
    margin-left: 10px;
}
.image_gallery_item_container img{
    cursor: pointer;
}
.image_gallery_item_tools{
    background-color: #FFFFFF;
    bottom: -42px;
    cursor: pointer;
    display: block;
    font-size: 13px;
    height: 57px;
    left: 0px;
    padding: 10px 8px 0;
    position: absolute;
    width: 100%;
    text-align: center;
    border-top: none;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.photos_list{
    padding: 0 16px;
}
.img-thumbnail {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.gallery_image_preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 188px;
}
.thumbnail{
    display: inline-block;
}
.thumbnail img{
    width: 200px!important;
    height: auto;
}


.data-cell-align-left{ text-align:left; }
.data-cell-align-right{ text-align:right; }
.data-cell-align-center{ text-align:center; }

.sortability_icon_cell{
    font-size: 17px;
    padding-left: 8px !important;
    vertical-align: middle !important;
    width: 8px !important;
    background: url("/assets/admin/images/grippy_large.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}

.main-tools-in-list{
    padding-bottom: 0!important;
}

input[type="checkbox"]{
    cursor: pointer;
}

.tacw40{
    text-align: center;
    width: 40px !important;
}

#form-info table,
#form-info table td,
#form-info table th,
#form-info table tr
{
    border: none!important;
}

.form-group .input_field input[type="text"],
#table-data-form input[type="text"],
.form-group .input_field textarea,
#table-data-form textarea,
.form-group .input_field select,
#table-data-form select
{
    max-width: 370px!important;
}

.sortability_icon_cell_h{
    width: 0!important;
}

a.cke_dialog_tab{
    margin-right: 0!important;
    padding: 4px 5px!important;
}

.disable_overlay{
    background: none repeat scroll 0 0 #c2c2c2;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.input_disable_container input[type="text"] {
    float: none !important;
}

.ml10 {margin-left: 10px}
.mt5 {margin-top: 10px}

.add_contest {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.contest_item {
    padding: 10px 0;
}

.contest_item .sort_handler {
    /*background-color: #003399;*/
}

.contest_item .del_tmp_handler {
    cursor: pointer;
    font-style: italic;
}
#price-load-form{
    margin: 45px;
}
.uploadprice{
    margin: 10px;
}
._usd{
    display: none;
}

._active_button{
    color: #fff;
    background-color: #739e73;
    border-color: #659265;
    pointer-events: none;
    cursor: default;

}
