/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

/*
toolbar.css (part of editor.css)
==================================

This files styles the CKEditor toolbar and its buttons. For toolbar combo
styles, check richcombo.css.

The toolbar is rendered as a big container (called toolbox), which contains
smaller "toolbars". Each toolbar represents a group of items that cannot be
separated. The following is the visual representation of the toolbox.

+-- .cke_toolbox ----------------------------------------------------------+
| +-- .cke_toolbar --+ +-- .cke_toolbar --+ ... +-- .cke_toolbar_break --+ |
| |                  | |                  |     |                        | |
| +------------------+ +------------------+     +------------------------+ |
| +-- .cke_toolbar --+ +-- .cke_toolbar --+ ...                            |
| |                  | |                  |                                |
| +------------------+ +------------------+                                |
+--------------------------------------------------------------------------+

The following instead is the visual representation of a single toolbar:

+-- .cke_toolbar ----------------------------------------------------------------+
| +-- .cke_toolbar_start --+ +-- .cke_toolgroup (*) --+ +-- .cke_toolbar_end --+ |
| |                        | |                        | |                      | |
| +------------------------+ +------------------------+ +----------------------+ |
+--------------------------------------------------------------------------------+
(*) .cke_toolgroup is available only when the toolbar items can be grouped
    (buttons). If the items can't be group (combos), this box is not available
	and the items are rendered straight in that place.

This file also styles toolbar buttons, which are rendered inside the above
.cke_toolgroup containers. This is the visual representation of a button:

+-- .cke_button -------------------------------------+
| +-- .cke_button_icon --+ +-- .cke_button_label --+ |
| |                      | |                       | |
| +----------------------+ +-----------------------+ |
+----------------------------------------------------+

Special outer level classes used in this file:

	.cke_hc: Available when the editor is rendered on "High Contrast".
	.cke_rtl: Available when the editor UI is on RTL.
*/

/* The box that holds each toolbar. */
.cke_toolbar
{
  float: left;
}

.cke_rtl .cke_toolbar
{
  float: right;
}

/* The box that holds buttons. */
.cke_toolgroup
{
  float: left;
  margin: 0 6px 5px 0;
  border: 1px solid #070707;
  border-bottom-color: #060606;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;

  background: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#404040));
  background-image: -moz-linear-gradient(top, #595959, #404040);
  background-image: -webkit-linear-gradient(top, #595959, #404040);
  background-image: -o-linear-gradient(top, #595959, #404040);
  background-image: -ms-linear-gradient(top, #595959, #404040);
  background-image: linear-gradient(top, #595959, #404040);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ff595959', endColorstr='#ff404040');
}

.cke_toolgroup *:first-child
{
  -moz-border-top-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.cke_toolgroup *:last-child
{
  -moz-border-top-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cke_rtl .cke_toolgroup *:first-child
{
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.cke_rtl .cke_toolgroup *:last-child
{
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.cke_rtl .cke_toolgroup
{
  float: right;
  margin-left: 6px;
  margin-right: 0;
}

/* A toolbar button . */
a.cke_button
{
  display: inline-block;
  height: 26px!important;
  padding: 4px 6px;
  outline: none;
  cursor: default;
  float: left;
  border: 0;
}

.cke_rtl .cke_button
{
  float: right;
}

/* This class is applied to the button when it is "active" (pushed).
   This style indicates that the feature associated with the button is active
   i.e. currently writing in bold or when spell checking is enabled. */
.cke_button_on
{
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.75) inset;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.75) inset;
  box-shadow: 0 0 8px rgba(0,0,0,.75) inset;

  background: #4c4c4c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#1a1a1a));
  background-image: -moz-linear-gradient(top, #262626, #1a1a1a);
  background-image: -webkit-linear-gradient(top, #262626, #1a1a1a);
  background-image: -o-linear-gradient(top, #262626, #1a1a1a);
  background-image: -ms-linear-gradient(top, #262626, #1a1a1a);
  background-image: linear-gradient(top, #262626, #1a1a1a);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ff262626', endColorstr='#ff1a1a1a');
}

/* This class is applied to the button when the feature associated with the
   button is available but currently not active.*/
.cke_button_off
{
}

/* This class is applied to the button when the feature associated with the
   button cannot be used (grayed-out).
   i.e. paste button remains disabled when there is nothing in the clipboard to
   be pasted. */
.cke_button_disabled
{
  opacity: 0.3;
}

a.cke_button_on:hover,
a.cke_button_on:focus,
a.cke_button_on:active
{
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.85) inset;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.85) inset;
  box-shadow: 0 0 10px rgba(0,0,0,.85) inset;
}

a.cke_button_off:hover,
a.cke_button_off:focus,
a.cke_button_off:active
{
  -moz-box-shadow: 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
  -webkit-box-shadow: 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
  box-shadow: 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;

  background: #4c4c4c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#4c4c4c));
  background-image: -moz-linear-gradient(top, #666, #4c4c4c);
  background-image: -webkit-linear-gradient(top, #666, #4c4c4c);
  background-image: -o-linear-gradient(top, #666, #4c4c4c);
  background-image: -ms-linear-gradient(top, #666, #4c4c4c);
  background-image: linear-gradient(top, #666, #4c4c4c);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ff666666', endColorstr='#ff4c4c4c');
}

/* The icon which is a visual representation of the button. */
.cke_button_icon
{
  cursor: inherit;
  background-repeat: no-repeat;
  margin-top: 1px;
  width: 16px;
  height: 16px;
  float: left;
  display: inline-block;
}

.cke_rtl .cke_button_icon
{
  float: right;
}

a.cke_button_off:hover .cke_button_icon
{
  /* http://caniuse.com/css-filters */
  -webkit-filter: brightness(10%);
}

/* The label of the button that stores the name of the feature. By default,
   labels are invisible. They can be revealed on demand though. */
.cke_button_label
{
  display: none;
  padding-left: 3px;
  margin-top: 1px;
  line-height: 16px;
  vertical-align: middle;
  float: left;
  cursor: default;
  color: #e5e5e5;
  text-shadow: 0 1px 0 #000;
  font-size: 11px;
}

.cke_rtl .cke_button_label
{
  padding-right: 3px;
  padding-left: 0;
  float: right;
}

/* The small arrow available on buttons that can be expanded
(e.g. the color buttons). */
.cke_button_arrow
{
  /* Arrow in CSS */
  display: inline-block;
  margin: 8px 0 0 1px;
  width: 0;
  height: 0;
  cursor: default;
  vertical-align: top;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #e6e6e6;
}

.cke_rtl .cke_button_arrow
{
  margin-right: 5px;
  margin-left: 0;
}

/* The vertical separator which is used within a single toolbar to split
buttons into sub-groups. */
.cke_toolbar_separator
{
  float: left;
  background-color: #272727;
  background-color: rgba(0,0,0,.5);
  margin: 0;
  height: 26px;
  width: 1px;

  -webkit-box-shadow: 1px 0 1px rgba(255,255,255,.1);
  -moz-box-shadow: 1px 0 1px rgba(255,255,255,.1);
  box-shadow: 1px 0 1px rgba(255,255,255,.1);
}

.cke_rtl .cke_toolbar_separator
{
  float: right;

  -webkit-box-shadow: -1px 0 1px rgba(255,255,255,.1);
  -moz-box-shadow: -1px 0 1px rgba(255,255,255,.1);
  box-shadow: -1px 0 1px rgba(255,255,255,.1);
}

/* The dummy element that breaks toolbars.
   Once it is placed, the very next toolbar is moved to the new row. */
.cke_toolbar_break
{
  display: block;
  clear: left;
}

.cke_rtl .cke_toolbar_break
{
  clear: right;
}

/* The button, which when clicked hides (collapses) all the toolbars. */
.cke_toolbox_collapser
{
  width: 12px;
  height: 11px;
  float: right;
  margin: 11px 0 0;
  font-size: 0;
  cursor: default;
  text-align: center;

  border: 1px solid #070707;
  border-bottom-color: #060606;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;

  background: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#404040));
  background-image: -moz-linear-gradient(top, #595959, #404040);
  background-image: -webkit-linear-gradient(top, #595959, #404040);
  background-image: -o-linear-gradient(top, #595959, #404040);
  background-image: -ms-linear-gradient(top, #595959, #404040);
  background-image: linear-gradient(top, #595959, #404040);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ff595959', endColorstr='#ff404040');
}

.cke_toolbox_collapser.cke_toolbox_collapser_min
{
  margin: 0 2px 4px;
}

.cke_rtl .cke_toolbox_collapser
{
  float: left;
}

/* The CSS arrow, which belongs to the toolbar collapser. */
.cke_toolbox_collapser .cke_arrow
{
  display: inline-block;

  /* Pure CSS Arrow */
  height: 0;
  width: 0;
  font-size: 0;
  margin-top: 4px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #e5e5e5;
}

.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow
{
  /*margin: 4px 2px 0 0;*/
  border-color: #e5e5e5 transparent transparent;
}
