.block				{ display:block !important; }
.inline				{ display:inline !important; }
.none				{ display:none !important; }
.hidden 			{ visibility:hidden !important; }
.visible			{ visibility:visible !important; }

.clear				{ clear:both; height:0; font-size:0; line-height:0; overflow:hidden; display:block; }
.fleft				{ float:left !important; }
.fright				{ float:right !important; }
.fnone				{ float:none !important; }
.tar				{ text-align:right !important; }
.tal				{ text-align:left !important; }
.tac				{ text-align:center !important; }

.cp					{ cursor:pointer !important; }
.cd					{ cursor:default !important; }

.tdn				{ text-decoration:none !important; }
.tdu				{ text-decoration:underline !important; }
.htdu				{ text-decoration:none !important; }
.htdu:hover			{ text-decoration:underline !important; }
.htdn				{ text-decoration:underline !important; cursor: pointer; }
.htdn:hover			{ text-decoration:none !important; }

.b					{ font-weight:bold; }
.fwn				{ font-weight:normal !important; }

.c_grey        		{ color:#bdc1c2}
.c_w				{ color:#FFF; }
.c_bl				{ color:#000; }
.c_gr				{ color:#999; }
.c_r				{ color:#F00; }
.red				{ color:#F00; }
.c_g				{ color:#0F0; }
.c_b				{ color:#00F; }
.c_blue				{ color:#08A4F3 !important; }

.font0				{ font-size:0; }
.font8				{ font-size:8px; }
.font9				{ font-size:9px; }
.font10				{ font-size:10px; }
.font11				{ font-size:11px; }
.font12				{ font-size:12px; }
.font13             { font-size:13px; }
.font14				{ font-size:14px; }
.font20				{ font-size:20px; }
.font36				{ font-size:36px; }
.font100p			{ font-size:100%; }
.font1em			{ font-size:1em; }

.lh100p				{ line-height:100%; }
.lh110p				{ line-height:110%; }
.lh120p				{ line-height:120%; }
.lh125p				{ line-height:125%; }
.lh140p				{ line-height:140%; }

/**	PADDINGS **/
.pt0				{ padding-top:0; }
.pt1				{ padding-top:1px; }
.pt2				{ padding-top:2px; }
.pt3				{ padding-top:3px; }
.pt4				{ padding-top:4px; }
.pt5				{ padding-top:5px; }
.pt10				{ padding-top:10px; }
.pt15				{ padding-top:15px; }
.pt20				{ padding-top:20px; }

.pr0				{ padding-right:0; }
.pr1				{ padding-right:1px; }
.pr2				{ padding-right:2px; }
.pr3				{ padding-right:3px; }
.pr4				{ padding-right:4px; }
.pr5				{ padding-right:5px; }
.pr10				{ padding-right:10px; }
.pr15				{ padding-right:15px; }
.pr20				{ padding-right:20px; }

.pb0				{ padding-bottom:0; }
.pb1				{ padding-bottom:1px; }
.pb2				{ padding-bottom:2px; }
.pb3				{ padding-bottom:3px; }
.pb4				{ padding-bottom:4px; }
.pb5				{ padding-bottom:5px; }
.pb10				{ padding-bottom:10px; }
.pb15				{ padding-bottom:15px; }
.pb20				{ padding-bottom:20px; }

.pl0				{ padding-left:0; }
.pl1				{ padding-left:1px; }
.pl2				{ padding-left:2px; }
.pl3				{ padding-left:3px; }
.pl4				{ padding-left:4px; }
.pl5				{ padding-left:5px; }
.pl10				{ padding-left:10px; }
.pl15				{ padding-left:15px; }
.pl20				{ padding-left:20px; }

.plr5				{ padding-left:5px; padding-right:5px; }
.plr20				{ padding-left:20px; padding-right:20px; }

.p20				{ padding:20px; }
.pr50               { padding-right:50px; }

/**	MARGINS **/
.mt0				{ margin-top:0 !important; }
.mt1				{ margin-top:1px !important;; }
.mt2				{ margin-top:2px !important;; }
.mt3				{ margin-top:3px !important;; }
.mt4				{ margin-top:4px !important;; }
.mt5				{ margin-top:5px !important;; }
.mt6				{ margin-top:6px !important;; }
.mt7				{ margin-top:7px !important; }
.mt8                { margin-top:8px !important; }
.mt9                { margin-top:9px !important; }
.mt10				{ margin-top:10px !important;; }
.mt13				{ margin-top:13px !important; }
.mt15				{ margin-top:15px !important;; }
.mt20				{ margin-top:20px !important; }
.mt26				{ margin-top:26px !important; }
.mt30				{ margin-top:30px !important; }
.mt36				{ margin-top:36px !important; }
.mt40				{ margin-top:40px !important; }
.mt50				{ margin-top:50px !important; }

.mr0				{ margin-right:0 !important; }
.mr1				{ margin-right:1px !important; }
.mr2				{ margin-right:2px !important; }
.mr3				{ margin-right:3px !important; }
.mr4				{ margin-right:4px !important; }
.mr5				{ margin-right:5px !important; }
.mr10				{ margin-right:10px !important; }
.mr15				{ margin-right:15px !important; }
.mr20				{ margin-right:20px !important; }
.mr50				{ margin-right:50px !important; }
.mr90				{ margin-right:90px !important; }

.mb0				{ margin-bottom:0 !important; }
.mb1				{ margin-bottom:1px !important; }
.mb2				{ margin-bottom:2px !important; }
.mb3				{ margin-bottom:3px !important; }
.mb4				{ margin-bottom:4px !important; }
.mb5				{ margin-bottom:5px !important; }
.mb10				{ margin-bottom:10px !important; }
.mb15				{ margin-bottom:15px !important; }
.mb20				{ margin-bottom:20px !important; }

.ml0				{ margin-left:0 !important; }
.ml1				{ margin-left:1px !important; }
.ml2				{ margin-left:2px !important; }
.ml3				{ margin-left:3px !important; }
.ml4				{ margin-left:4px !important; }
.ml5				{ margin-left:5px !important; }
.ml10				{ margin-left:10px !important; }
.ml15				{ margin-left:15px !important; }
.ml20				{ margin-left:20px !important; }
.ml30				{ margin-left:30px !important; }
.ml26               { margin-left:26px !important; }
.ml45               { margin-left:45px !important; }
.ml75				{ margin-left:75px !important; }
.ml160				{ margin-left:160px !important; }

.mtb10				{ margin-top:10px; margin-bottom:10px; }
.mtb20				{ margin-top:20px; margin-bottom:20px; }

.mlr5				{ margin-left:5px !important; margin-right:5px !important; }
.mlra				{ margin-left:auto; margin-right:auto; }

.m5					{ margin-top:5px; margin-right:5px; margin-bottom:5px; margin-left:5px; }

.pr					{ position:relative; }
.ps					{ position:static; }
.pn                 { position:inherit !important;}

.oa					{ overflow:auto; }
.oh					{ overflow:hidden; }


.w33p				{ width:33%; }
.w50p				{ width:50%; }
.w100p				{ width:100%; }
.w20				{ width:20px !important; }
.w100				{ width:100px; }
.w120				{ width:120px !important; }
.w130				{ width:130px !important; }
.w220				{ width:220px !important; }
.w225				{ width:225px !important; }
.w460				{ width:460px !important; }
.w500				{ width:500px; }

.h0				    { height:0 !important; }
.h10				{ height:10px; }
.h15				{ height:15px; }
.h20				{ height:20px !important; }
.h45				{ height:45px !important; }

.inline_bullet {
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
}
.vabase {
    vertical-align: baseline !important;
}
/* Alternative clear */
.clearfix:after		{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html .clearfix	{ height:1%; }
