@media print{
    *{
        height: auto !important;
    }
    .noprint{
        display: none !important;
    }
    .zakaz th {
        font-size: 17px !important;
        text-align: left;
        color: #000000 !important;
        font-weight: bold !important;
        padding-bottom: 10px !important;
        padding-top: 8px;
    }
    .zakaz .last{
        font-size: 17px !important;
        font-weight: bolder !important;
    }
    .l-header_contacts{
        float: right !important;
    }
    .zakaz td.nom {
        color: #000000 !important;
    }
    .cart_add{
        border-radius: 0;
        background: transparent;
        height: 34px;
        padding: 5px;
        padding-left: 22px;
        border: 0;
        font-size: 15px;
        line-height: 1;
        -webkit-appearance: none;
    }
    .zakaz tr{
        border-bottom: 2px solid !important;
    }
    .zakaz .last{
        border-bottom: none !important;
    }


    #cart-form .inp2{
        border: none !important;
        font-size: 17px !important;
        font-weight: bolder !important;
    }


}
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/* * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

/* * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html, button, input, select, textarea {
    font-family: sans-serif;
}

/* * Addresses margins handled incorrectly in IE 6/7. */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    font-size: 12px;
    font-family: Tahoma;
    color: #000;
    margin: 0;
    line-height: 18px;
}

* {
    padding: 0px;
    margin: 0px;
}

img {
    border: 0;
}

form {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/* * Addresses `outline` inconsistency between Chrome and other browsers. */

a:focus {
    outline: thin dotted;
}

/* * Improves readability when focused and also mouse hovered in all browsers. */

a:active, a:hover {
    outline: 0;
    color: #45ca61;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    margin: 10px 0 0 0;
    font-size: 24px;
    padding: 0;
    font-weight: normal;
}



div.h1 {
    margin: 10px 0 0 0;
    font-size: 24px;
    padding: 0;
    font-weight: normal;
}


div.h1_l-block_title {
    margin: 10px 0 0 0;
    color: #696868;
    font-family: arial;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    padding-bottom: 10px;
}

h2 {
    margin: 0.83em 0;
    color: #077822;
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/* * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome. */

abbr[title] {
    border-bottom: 1px dotted;
}

/* * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/* * Addresses styling not present in Safari 5 and Chrome. */

dfn {
    font-style: italic;
}

/* * Addresses styling not present in IE 6/7/8/9. */

mark {
    background: #ff0;
    color: #000;
}

/* * Addresses margins set differently in IE 6/7. */

p, pre {
    margin: 1em 0;
}

/* * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome. */

code, kbd, pre, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/* * Improves readability of pre-formatted text in all browsers. */

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* * Addresses CSS quotes not supported in IE 6/7. */

q {
    quotes: none;
}

/* * Addresses `quotes` property not supported in Safari 4. */

q:before, q:after {
    content: '';
    content: none;
}

/* * Addresses inconsistent and variable font size in all browsers. */

small {
    font-size: 80%;
}

/* * Prevents `sub` and `sup` affecting `line-height` in all browsers. */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/* * Addresses margins set differently in IE 6/7. */

dl, menu, ol, ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/* * Addresses paddings set differently in IE 6/7. */

menu, ol, ul {
    padding: 0 0 0 40px;
}

/* * Corrects list images handled incorrectly in IE 7. */

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/* * Corrects overflow displayed oddly in IE 9. */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/* * Corrects margin displayed oddly in IE 6/7. */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

button, input, select, textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
}

/* * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in * the UA stylesheet. */
button, input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/* * Re-set default cursor for disabled elements. */

button[disabled], input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/* * Removes inner padding and search cancel button in Safari 5 and Chrome * on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* * Removes inner padding and border in Firefox 3+. */

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/* * Remove most spacing between table cells. */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Cleaf-fix */
/* For modern browsers */
.g-clrfix:before,
.g-clrfix:after {
    content: "";
    display: table;
}

.g-clrfix:after {
    clear: both;
}

.g-clrfix {
    margin-bottom: -230px;
    margin-top: 20px;
}

/* Hide helper */
.g-hidden {
    display: none !important;
}

/* Ellipsis text-overflow */
.g-text-overflow {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* No selection allowed */
.g-ns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Layout definitions: Main Layout (begin) */
html, body {
    width: 100%;
    height: 100%;
}

body {
    cursor: default
}

a {
    color: #077822;
    text-decoration: underline;
}

a:hover {
    color: #45ca61;
}

a.active {
    text-decoration: none;
    color: #39a748
}

h1:first-letter {
    text-transform: capitalize;
}

/* First alias */
.right {
    text-align: right;
    padding: 15px;
}

.l-block a {
    font-weight: bold;
}

.clear {
    clear: both
}

/* Header */
.l-header {
    position: fixed;
    padding-top: 10px;
    height: 61px;
    z-index: 9997;
    /*overflow: hidden;*/
    background-color: white;
    width: 970px;
    padding-bottom: 10px;
}

.l-header-inner {
    height: auto;
    /*overflow: hidden;*/
}

.l-header_logo {
    float: left;
    font-size: 30px;
    position: relative;
}

.l-header_logo img {
    height: 61px;
    margin-left: 0px;
    position: relative;
    float: left;
    margin-right: 90px;
    z-index: 10;
}

.l-header_logo a {
    line-height: 0.6;
    text-decoration: none
}

.l-header_logo div {
    position: absolute;
    bottom: 5px;
    right: 82px;
    font-size: 16px;
    z-index: 200;
    font-style: normal;
    color: #696868;
}

.l-header_search {
    float: right;
    /*margin-right: 5px;*/
    width: 335px;
    margin-top: 15px;
}

.l-header_search form {
    height: 26px;
}

.l-header_search input[type="text"] {
    /*background: url("/img/poisk1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border-radius: 0px;
    float: left;
    /*margin-right: 30px;*/
    font-size: 12px;
    border: none;
    height: 26px;
    line-height: 26px;
    width: 260px;
    padding: 0;
}

.l-header_search input[type="text"]:focus, .l-header_search input[type="submit"]:focus, .l-header_search input[type="submit"]:hover {
    box-shadow: none;
    border-style: none;
}

.l-header_search input[type="submit"] {
    background: url("/img/search_button.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    height: 26px;
    width: 26px;
}

.l-header_search #multi_handler {
    background: url("/img/search_button_multi.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    height: 26px;
    width: 32px;
    display: inline-block;
    margin-left: 5px;
}

.l-header_search #multi_handler.active {
    background: url("/img/search_close.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
}

.searchtop {
    line-height: normal;
    position: relative;
    margin-top: 10px;
    width: 290px;
    display: inline-block;
}

.searchtop_multi {
    line-height: normal;
    position: relative;
    margin-top: 10px;
    width: 290px;
    display: inline-block;
}

.searchtop_multi .title {
    float: left;
    margin-top: 4px;
}

.searchtop_multi .search_button {
    background: url("/img/search_button.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    height: 26px;
    width: 26px;
    float: right;
    margin-right: 4px;
}

.multi_search_popup {
    background-color: white;
    position: absolute;
    bottom: -310px;
    left: 0;
    padding: 10px;
    width: 385px;
    height: 280px;
    border: 1px solid green;
    box-shadow: 5px 5px 10px -2px #39a748;
}

.multi_search_popup #multi_search_input {
    width: 370px;
    height: 240px;
}

.multi_search_popup .search_button_multi {
    background: url(../img/titl.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    padding: 3px 31px 5px 31px !important;
    width: 384px;
    margin-top: 10px;
}

#search_clear {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    top: 4px;
    font-size: 18px;
    right: 103px;
}

#cart_button {
    background: url("/img/prodat-right.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 28px;
    margin-top: -10px;
    padding-right: 6px;
}

#cart_button a {
    background: url("/img/prodat-left.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    height: 28px;
    padding: 0 4px 0 10px;
    display: block;
    width: auto;
    line-height: 28px;
    text-align: center;
    text-decoration: unset;
}

.header_contacts_cart_container {
    float: right;
    border-bottom: #0C6A21 2px solid;
    width: 405px;
    position: relative;
}

.l-header_contacts {
    float: right;
    font-size: 12px;
    width: 180px;
    line-height: 20px;
    margin-top: 6px;
}

.l-header_contacts .tel, .l-header_contacts .mail, .l-header_contacts .icq, .l-header_contacts .timerabota {
    padding-left: 25px;
    /*margin-bottom: 7px;*/
    margin-top: 15px;
    color: #696868;
    font-weight: bold;
    line-height: 20px;
}

.l-header_contacts a.tel {
    text-decoration: none;
}

.l-header_contacts .tel {
    /*background: url("/img/phone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: #0C6A21;
    font-size: 14px;
}

/*.l-header_contacts .mail {*/
/*    background:  url("/img/mail.png") no-repeat 0px 5px rgba(0, 0, 0, 0);*/
/*}*/

/*.l-header_contacts .icq {*/
/*    background: url("/img/icq.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*}*/

.l-header_contacts .timerabota {
    /*background: url("/img/timeicon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

/*---------------HEADER---MENU--------*/
nav {
    height: auto;
    padding-bottom: 20px;
    clear: both;
    padding-top: 70px;
}

.navi {
    display: block;
    width: 100%;
    padding: 0 15px 0 0;
    background: #fff;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #8aa8bd;
    margin-top: 15px;
}

.navi li {
    display: block;
    position: relative;
    float: left;
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.navi li a {
    display: block;
    float: left;
    padding: 0 12px;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
    color: #11832a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    line-height: 31px;
    height: 31px;
}

.navi >li:hover > a {
    color: #45ca61;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: url("/img/but2.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

.navi ul {
    z-index: 100;
    position: absolute;
    top: 31px;
    width: 100%;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.navi ul li {
    display: block;
    width: 100%;
    text-align: center;
}

.navi ul li a {
    display: block;
    width: 100%;
    padding: 6px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    height: 31px;
    background: url("/img/line.png") no-repeat scroll center bottom #ececec;
    color: rgb(17, 131, 42);
}

.navi ul li a:hover {
    color: rgb(67, 202, 96);
}

/* Main Wrapper */
.l-body {
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-top: 20px;*/
    min-height: 100%;
    /*margin: 0 auto -50px;*/
    margin: 0 auto 100px;
    background: #FFF;
    margin-bottom: 130px;
}

.l-empty {
    height: 99px;
}

/* Main Content */
.l-main {
}

.l-main-is_blocks_right {
    float: left;
    position: relative;
    width: 67%
}

.l-main_inner {
    padding-right: 10px;
    margin-bottom: 26px;
    overflow: hidden;
}

.l-main_inner h1 {
    margin-top: 14px;
    margin-bottom: 9px;
    color: #696868;
    font-family: arial;
    font-size: 18px;
    padding-bottom: 10px;
}

.l_main_order_block {
    overflow: hidden;
}

.l_main_order_block>input {
    float: right
}

.l-blocks_right {
    float: right;
    position: relative;
    width: 33%;
    margin-bottom: 15px;
}

.l-block {
    padding: 3px 15px 10px 10px;
}

.l-block_title {
    color: #696868;
    font-family: arial;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.l-block_content {
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    background-color: #efefef;
}

.l-block_content-inner {
    /*padding: 20px 20px 30px;*/
    padding: 30px 20px 10px;
}

.l-block_content-inner table {
    width: 100%;
}

.l-block_content-inner table th {
    background: url("/img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    border-left: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    color: #dedede;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    /*text-align: left;*/
}

.l-block_content-inner table td {
    height: auto !important;
    padding-left: 10px;
}

.l-block_content-inner table tr:nth-child(even) {
    background: none repeat scroll 0 0 #e6e6e6;
}

.l-block_content-inner table tr:nth-child(odd) {
    background: none repeat scroll 0 0 #ffffff;
}

.l-block_content-inner table td {

    border-left: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
}

.l-main_article {
    margin-top: 20px;
}

.l-main_article h4 {
    margin: 0;
}

.l-main_article p {
    margin-top: 3px;
}

.l-main_article_image {
    float: left;
    margin: 0 10px 10px 0
}

.l-table_price {
    /*width: 85%;*/
    width: 830px;
    margin: 10px 0
}

.l-table_price tr.head.topWindow{
    width: 833px;
}

.l-table_price thead th {
    text-align: center;
    padding: 15px 0
}

.l-table_price tbody {
    font-size: 14px
}

.l-table_price tbody td,
.l-table_price tbody th {
    border: 1px solid #268327;
    padding: 2px 0;
    text-align: center
}

.l-table_price tbody tr:hover td {
    background: #ccc;
}

.l-table_price tbody tr[class^="l-table_product_"] td:nth-child(-n+2) {
    text-align: left;
    padding-left: 10px
}

.l-table_price tbody tr th:nth-child(3) {
    padding: 0 4px;
    /*width: 1%;*/
}
.l-table_price tbody tr th:nth-child(5) {
    padding: 0 4px;
    /*width: 10%;*/
}
.l-table_price tbody tr th:nth-child(6) {
    padding: 0 4px;
    /*width: 1%;*/
}

.l-table_price tbody th {
    background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-weight: normal;
}

.td-left-pl15 {
    text-align: left !important;
    padding-left: 15px !important;
}

.paginator {
    margin-top: 60px;
    font-size: 1em;
}

.paginator table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.paginator table td {
    padding: 0;
    white-space: nowrap;
    text-align: center;
}

.paginator span {
    display: block;
    padding: 3px 0;
    color: #fff;
}

.paginator span strong,
.paginator span a {
    padding: 2px 6px;
}

.paginator span strong {
    background: #ff6c24;
    font-style: normal;
    font-weight: normal;
}

.paginator .scroll_bar {
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 10px;
}

.paginator .scroll_trough {
    width: 100%;
    height: 3px;
    background: #ccc;
    overflow: hidden;
}

.paginator .scroll_thumb {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    font-size: 1px;
    background: #363636;
}

.paginator .scroll_knob {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
}

.paginator .current_page_mark {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    overflow: hidden;
    background: #ff6c24;
}

.fullsize .scroll_thumb {
    display: none;
}

.paginator_pages {
    width: 600px;
    text-align: right;
    font-size: 0.8em;
    color: #808080;
    margin-top: -10px;
}

.l-table_price tbody td.l-table_price-subname {
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    border-right: 1px solid white; /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #117326 0%, #b3ffc2 80%, #FFFFFF 100%); /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #117326 0%, #d8ffe3 80%, #FFFFFF 100%); /* Opera */
    background-image: -o-linear-gradient(left, #117326 0%, #d8ffe3 80%, #FFFFFF 100%); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #85ff94), color-stop(0.8, #d8ffe3), color-stop(1, #FFFFFF)); /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #117326 0%, #d8ffe3 80%, #FFFFFF 100%); /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #117326 0%, #d8ffe3 80%, #FFFFFF 100%);
    text-shadow: 0px 1px 0px white;
    color: #fff;
}

.l-table_price_hidden_link {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted #39a748
}

.l-main_breadcrumbs {
    font-size: 12px;
    color: #7dffa9
}

article {
    padding: 0 15px 0 0
}

.l-main_order form span {
    /*color: red*/
}

.l-main_order_itog {
    text-align: right
}

.l-main_back {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 12px;
    margin-top: 20px
}

.l-main_up {
    float: left;
    width: 50%;
    text-align: right;
    font-size: 12px;
    margin-top: 20px
}

/* Footer */
.l-footer {
    /*height: 100px;*/
    background: none repeat scroll 0 0 #dedede;
    font-size: 11px;
    height: 70px;
    /*margin-top: -10px;*/
    /*padding-bottom: 7px;*/
    /*padding-top: 17px;*/
    margin-top: -3px;
    padding-bottom: 17px;
    padding-top: 10px;
}

/*.l-footer_copy, .l-footer_cont, .l-footer_counters {*/
/*    width: 33%;*/
/*    float: left;*/
/*}*/

.l-footer_inner {
    width: 960px;
    height: 50px;
    margin: 0 auto;
}

.l-footer_cont-inner .contact_icon_block_container {
    float: left;
    margin-right: 40px;
}

.l-footer_inner nav {
    text-align: center;
    font-size: 12px
}

.l-footer_inner nav a {
    padding: 0 5px;
}

.l-footer_inner nav a.on {
    text-decoration: none
}

.l-footer_cont-inner {
    /*padding-left: 30%;*/
}

.l-footer_counters {
    text-align: right;
}

.l-footer_counters > a {
    padding-left: 10px;
}

.cart_sum.ajax {
    background-image: url("../../img/ajax.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    position: relative;
    width: 30px;
}

.cart_cart_sum {
    font-weight: bold;
}

*:focus {
    outline: none;
}

.cart_add {
    width: 50px
}

.captcha {
    width: 210px;
    text-align: center;
    margin-bottom: 15px
}

input[type="button"], input[type="submit"], input[type="reset"] {
    /*background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 1px solid #39a748;
    /*background: #268327;*/
    color: white;
    padding: 3px 6px;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
    transition: all 0.2s 0.02s ease;
}

/*input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {*/
/*border: 1px solid #39a748;*/
/*border-top: 2px solid #54ff58;*/
/*background: #39a748;*/
/*color: white;*/
/*}*/

textarea, input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
    transition: all 0.2s 0.02s ease;
    border: 1px solid #39a748;
    padding: 3px 6px;
}

input[type="number"] {
    text-align: center
}

textarea:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    box-shadow: 0 0 10px #39a748
}

/*Request Styles*/
.request {
    /*padding: 30px;*/
    /*background-color: #F1F1F1;*/
    /*border-radius: 10px;*/
    font-size: 14px;
    font-family: Tahoma;
    color: #000;
    line-height: 18px;
    /*height: 930px;*/
    height: auto;
    overflow: hidden;
}

.request-inner {
    /*width: 65%;*/
    /*float: left;*/
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
.request-left {
    width: 65%;
    float: left;
    /*border-right: 1px dotted #ccc;*/
    /*padding-right: 13px;*/
    margin-right: 25px;
    padding-bottom: 38px;
}

.item_desc_input {
    width: 300px;
}

.custom_position {
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
}

.request-right {
    background-color: #F1F1F1;
    border-radius: 10px;
    width: 25%;
    float: left;
    padding: 20px;
}

.request .request-inner .green {
    color: #045919;
}

.request .request-inner td {
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #696868;
    line-height: 23px;
    height: 23px;
}

.content-body-form-file__file {
    display: none;
}

.request .request-inner input[type="button"] {
    /*background: url("/img/but.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    /*height: 28px;*/
    /*margin-left: 120px;*/
    /*width: 142px;*/
    /*float: right;*/
    width: 100%;
    /*height: 25px;*/
    padding: 3px 31px 5px 31px !important;
}

.td_bottom_button {
    padding-bottom: 0px !important;
    vertical-align: bottom !important;
}

/*Cart styles*/
.l-main_order {
    padding-top: 15px;
    /*padding: 30px;*/
    /*background-color: #F1F1F1;*/
    border-radius: 10px;
    /*height: 930px;*/
    font-size: 14px;
    font-family: Tahoma;
    color: #000;
    line-height: 18px;
}

.cart .green {
    color: #045919;
}

.cart td {
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    height: 23px;
    line-height: 35px;
    font-weight: bold;
    color: #5f5b5b;
    vertical-align: middle;
}

.cart .ttt td {
    vertical-align: top;
}

.cart textarea {
    margin: 0px;
    height: 89px;
    width: 315px;
    resize: none;
}

.cart th {
    text-align: left;
    color: #696868;
    font-weight: bold;
    padding-top: 8px;
}

.cart .inp2 {
    font-size: 14px;
    width: 205px;
    height: 18px;
    padding-left: 10px;
    line-height: 23px;
    float: left;
    border: 1px solid #39a748;
    margin-right: 10px;
}

.cart td.col2 {
    color: #c0c0c0;
    font-size: 11px;
    font-weight: normal;
}

.cart td.nom {
    color: #1d9134;
    text-align: left;
}

.contentheading {
    color: #696868;
    font-family: arial;
    padding-bottom: 10px;
    font-size: 18px;
}

.kurs {
    color: #696868;
    padding-bottom: 24px;
    font-size: 12px;
    font-family: Tahoma;
    color: #000;
    line-height: 18px;
}

.valuta {
    float: right;
    width: 130px;
    text-align: right;
}

.valuta a {
    margin-left: 5px;
    display: block;
    float: right;
}

.currency_flag {

    cursor: pointer;
}



.contentpaneopen {
    font-size: 12px;
    font-family: Tahoma;
    color: #000;
    line-height: 18px;
}

table.zayavka {
    /*width: 100%;*/
}

.zayavka tr td:last-child {
    font-weight: bold;
    color: #000;
}

.zayavka  td {
    vertical-align: top;
}

.zayavka td input, .zayavka td textarea {
    width: 95%;
}

.zayavka td input[type="checkbox"], .zayavka td input[type="radio"] {
    width: auto;
}

.zayavka td textarea {
    /*margin-top: 5px;*/
    height: 185px;
    width: 350px;
    resize: none;
    /*border: 1px solid #cccccc;*/
}

.zayavka td textarea[disabled="disabled"] {
    border: 1px solid #cccccc;
}

.order_services {
    padding-bottom: 15px;
    padding-right: 15px;
}

#error_block {
    color: #f00;
}

/* -----main page---*/
.home {
    font-family: Arial;
    font-size: 14px;
    color: #373737;
    padding-bottom: 30px;
}

.home p {
    padding: 30px 0;
}

.hometable {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.hometable tr {
    height: 40px;
}

.hometable td {
    width: 25%;
    border-right: 1px solid #ccc;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.former h4 {
    padding-top: 30px;
}

.boxer, .former {
    border-bottom: 1px dotted #999;
    float: left;
    width: 100%;
}

.maintit {
    font-size: 18px;
    font-weight: bold;
    color: #696868;
    padding-top: 10px;
}

.maintit a {
    border-bottom: dashed 1px #11832a;
    text-decoration: none;
    color: #11832a;
}

.brend {
    font-weight: bold;
    padding-bottom: 10px;
}

h4.maintit {
    line-height: 1.4;
}

.homebox {
    text-align: center;
    width: 33%;
    float: left;
}

.homebox a {
    display: block;
    background: url(../img/upboxbutton.png);
    width: 192px;
    height: 38px;
    color: #11832a;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
}

.boxer p {
    padding-top: 25px;
    display: block;
    float: left;
    width: 100%;
}

.boxer b {
    font-weight: bold;
    color: #11832a;
}

.former {
    padding-bottom: 25px;
}

.former a.formbl {
    display: block;
    float: left;
    font-size: 14px;
    color: #373737;
    text-decoration: none;
}

.formuri {
    padding-left: 100px;
    background: url(../img/form.png) top left no-repeat;
    height: 54px;
    padding-top: 30px;
    width: 150px;
}

.contacturi {
    padding-left: 140px;
    background: url(../img/phone33.png) top left no-repeat;
    height: 54px;
    padding-top: 30px;
    width: 150px;
    margin-left: 80px;
}

.home h3 {
    display: block;
    margin-top: 30px;
    float: left;
    width: 100%;
    padding-botom: 25px;
}

.home ul {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
}

.home ul li {
    display: block;
    padding-left: 30px;
    background: url(../img/listimage.png) top left no-repeat;
    font-size: 16px;
    height: 25px;
    margin-bottom: 3px;
    line-height: 25px;
}

a.prlist {
    color: #077822;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    display: block;
    background: url(../img/prlist.png) left no-repeat;
    padding-left: 25px;
    height: 19px;
    margin-top: 10px;
}

.oformit {
    margin-top: 10px;
    cursor: pointer;
    height: 28px;
    display: block;
    padding-right: 6px;
}

.oformit input {
    border-radius: 0;
    cursor: pointer;
    /*background: url(../img/prodat-left.jpg) no-repeat left top;*/
    width: 105%;
    height: 28px;
    display: block;
    border: none;
    padding: 0 4px 0 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.oformit_red {
    margin-top: 10px;
    cursor: pointer;
    background: url(../img/prodat-right-red.jpg) no-repeat right top;
    height: 28px;
    display: block;
    padding-right: 6px;
}

.oformit_red input {
    cursor: pointer;
    background: url(../img/prodat-left-red.jpg) no-repeat left top;
    height: 28px;
    border: none;
    display: block;
    padding: 0 4px 0 10px;
    color: #FFFFFF;
    font-weight: bold;
    width: 105%;
}

.buttons {
    width: 100%;
    overflow: hidden;
}

.buttons .oformit, .buttons .oformit_red {
    width: 170px;
}

.buttons .col-lg-4 {
    width: 33%;
    float: left;
}

.buttons .col-lg-4:last-child, .buttons .col-lg-4:last-child .oformit {
    float: right;
}

.homebox > img {
    height: 112px;
}

.hometable img {
    height: 28px;
}

.order-info {
    font-weight: bold;
    font-size: 14px;
    float: left;
}

.l-footer_cont-inner p {
    margin: 0;
    padding: 0;
}
.l-main_inner a {
    font-weight: bold;
}

.side_block { background:#008000; border:#000000 solid 2px; padding:10px 10px; width:60px; position:fixed; top:100px; left:0; z-index:200; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; line-height:normal; }
.side_block ul { display:block; padding: 0; }
.side_block ul li { display:block; text-align:center; padding-bottom:5px; }
.side_block a, .side_block a:visited { font-size:12px; color:#FFFFFF; text-decoration:none; }
.side_block a:hover { color:#FFFF00; }
/*.content-body-form-file{*/
    /*padding: 10px;*/
/*}*/
.request-left.main{
    width: 100%;
}

.contact_icon_block_container {
    height: 29px;
    /*clear: both;*/
}

.contact_icon_block {
    height: 29px;
    width: 29px;
    float: left;
    margin-right: 10px;
    background: url("../img/contacts_sprite.png") no-repeat;
}

.contact_icon_block.contact_icon_block_phone {
    background-position: 0 0;
}

.contact_icon_block.contact_icon_block_worktime {
    background-position: -174px 0;
}

.contact_icon_block.contact_icon_block_email {
    background-position: -87px 0;
}

.contact_icon_block.contact_icon_block_whatsapp {
    background-position: -29px 0;
}

.contact_icon_block.contact_icon_block_icq {
    background-position: -145px 0;
}

.contact_icon_block.contact_icon_block_address {
    background-position: -58px 0;
}

.contact_icon_block_content {
    float: left;
    font-size: 14px;
    padding-top: 5px;
}

.content-contact-column .contact_icon_block_container{
    margin-bottom: 15px;
}

.content-contact-column {
    float: left;
    width: 50%;
    color: #676767
}

.content-contact-column p {
    margin-bottom: 10px
}

.content-contact-column strong {
    color: #11832A;
}

.content-contact-column a {
    color: #11832a;
    font-size: 12px;
    text-decoration: underline;
}

.contact_bottom_line {
    clear: both;
    padding-top: 40px;
    padding-bottom: 20px;
}

.contact_bottom_line .content-contact__info {
    float: left;
    font-weight: bold;
    color: rgb(168,14,20) !important;
}

.contact_bottom_line .header__callback {
    float: right;
}

.content-contact__map {
    height: 388px;
    width: 100%;
}

.content__title {
    /*margin-bottom: 23px;*/
    margin-bottom: 20px;
    color: #696868;
    font-family: arial;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 15px;
}
/*.content-form {*/
    /*background-color:  #F1F1F1;*/
    /*height: 220px;*/
    /*padding: 0 15px 20px 15px;*/
/*}*/
.content-form-row.row {
    margin: 0 -5px 24px -5px;
}
.content-form-row_faq {
    margin-bottom: 0 !important;
}
.content-form-row {
    margin-bottom: 24px;
}
.content-form-row_faq .content-form-el:first-child {
    width: 30%;
}
.content-form-el {
    padding: 0 5px;
    float: left;
    width: 50%;
}
.content-form-row_faq .content-form-el-inp {
    margin-bottom: 16px;
}
.content-form-el-inp {
    position: relative;
    height: 36px;
    margin: 0 5px;
    padding: 0px 20px;
}
.content-form__input {
    line-height: 20px;
    width: 100%;
    height: 20px
    color: #797979;
    margin-top: 3px;
    font-size: 15px;
    background-color: transparent;
    position: relative;
    /*font-family: 'pf_beausans_proregular';*/
    color: #797979;
}
.content-faq-item {
    margin-bottom: 25px;
}
.content-form-row_faq .content-form-el-inp {
    margin-bottom: 16px;
}
.content-form-el-inp {
    position: relative;
    height: 36px;
    margin: 0 5px;
    padding: 0px 20px;
}
.content-faq-item-top__data span {
    position: relative;
    color: #fff;
    font-size: 12px;
}
.content-faq-item-top__data {
    position: relative;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.content-faq-item-top {
    margin-bottom: 13px;
}
.content-faq-item-top__data:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color:#0C6A21;
}
.content-form_faq {
    font-size: 14px;
    font-family: Tahoma;
}
.content-form_faq .content-form__btn {
    margin-right: 5px;
    margin-top: 20px;
}

.content-form_faq input[type="submit"] {
    background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    /*width: 100%;*/
    padding: 3px 31px 5px 31px !important;
    width: 250px;
}
.content-form_faq td {
    padding-top: 4px;
    /*padding-bottom: 2px;*/
    font-weight: bold;
    color: #696868;
    line-height: 23px;
    height: 23px;
}
/*.content-form__btn {*/
/*    float: right;*/
/*    margin-top: -10px;*/
/*    border: 1px solid #39a748;*/
/*    border-top: 2px solid #39a748;*/
/*    background: #268327;*/
/*    color: white;*/
/*    padding: 3px 6px;*/
/*    border-radius: 5px;*/
/*    -moz-transition: all 0.2s 0.02s ease;*/
/*    -o-transition: all 0.2s 0.02s ease;*/
/*    -webkit-transition: all 0.2s 0.02s ease;*/
/*    transition: all 0.2s 0.02s ease;*/
/*}*/
.content-form-el__info {
    height: 40px;
    color: #797979;
    font-size: 12px;
    line-height: 24px;
    padding-left: 20px;
    position: relative;
}
textarea.content-form__input {
    /*border: 1px solid #d2d2d2;*/
    /*background-color: #f7f7f5;*/
    /*background-image: -moz-linear-gradient(bottom, #efefef 0%, #fff 100%);*/
    /*background-image: -o-linear-gradient(bottom, #efefef 0%, #fff 100%);*/
    /*background-image: -webkit-linear-gradient(bottom, #efefef 0%, #fff 100%);*/
    /*background-image: linear-gradient(to top, #efefef 0%, #fff 100%);*/
    height: 58px;
    padding: 10px 20px;
    resize: none;
}
.content-faq-item-top__name {
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.content-faq-item__title {
    color: #268327;
    font-size: 16px;
    /* margin-bottom: 11px; */
    line-height: 10px;
}
.content-faq-item-answer {
    border: 1px solid #dadada;
    background-color: #fdfdfd;
    position: relative;
    padding: 20px;
    margin-top: 25px;
}
.content-faq-item-answer__top {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 700;
}
.content-faq-item-answer__text span {
    color: #50585c;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.content-faq-item-answer__text {
    line-height: 20px;
}
.call-back{
    margin-top: -6px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 25px;
}
/*popup*/
.content-body-centerside_popup {
    width: 400px;
    /*float: left;*/
    /*padding: 0 10px*/
}
.content-body-form-column_popup {
    /*float: left;*/
    width: 100%;
    /*padding: 0 10px*/
}

.popup_wrap{
    display: none;
    opacity: 0.9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*padding: 16px;*/
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 10000;
    overflow: auto;
}
.popup_window{
    display: none;
    margin:auto;
    /*background: #fff;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10001;
    /*padding: 10px;*/
    /*border: 4px solid #0076BF;*/
    width: 350px;
    height: 264px;
}
.popup_confirm{
    display: none;
    margin:auto;
    /*background: #fff;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10001;
    /*padding: 10px;*/
    /*border: 4px solid #0076BF;*/
    width: 420px;
    height: 264px;
}
.popup_client_price{
    display: none;
    margin:auto;
    /*background: #fff;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10001;
    /*padding: 10px;*/
    /*border: 4px solid #0076BF;*/
    width: 420px;
    height: 264px;
}
.popup_price_error{
    display: none;
    margin:auto;
    /*background: #fff;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10001;
    /*padding: 10px;*/
    /*border: 4px solid #0076BF;*/
    width: 420px;
    height: 264px;
}
.popup_client_price .content-body-form {
    background-color: #F1F1F1 !important;
    padding: 10px 10px 10px 10px !important;
}
.popup_client_price .content-body-form__title {
    text-transform: none !important;
    color: #a90000 !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.popup_client_price .content-body-body {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
}
.popup_client_price .content-body-form__btn {
    font-size: 14px !important;
    width: 90px !important;
    height: 30px !important;
}
.popup_price_error .content-body-form {
    background-color: #F1F1F1 !important;
    padding: 10px 10px 10px 10px !important;
}
.popup_price_error .content-body-form__title {
    text-transform: none !important;
    color: #a90000 !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.popup_price_error .content-body-body {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
}
.popup_price_error .content-body-body p {
    text-align: center;
    color: #a90000 !important;
    font-size: 14px;
}
.popup_price_error .content-body-form__btn {
    font-size: 14px !important;
    width: 90px !important;
    height: 30px !important;
}
span.green {
    color: #11832a;
}
.popup_client_price li {
    font-size: 14px;
    padding: 5px 0;
}
.confirm_title{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.popup_confirm td{
    padding: 5px;
    font-size: 14px;
}
.popup_confirm .button{
    padding: 2px 8px;
    background-color: #24a044;
    font-weight: bold;
    color: white;
}

.popup_el{
    width: 300px
}
.popup_info{
    margin-left: 9px;
}
.icon_delete_popup {
    cursor: pointer;
    margin-top: -25px;
    float: right;
    margin-right: -15px;
}
/*end-popup*/
.content-body-form {
    padding: 29px 20px;
    border-radius: 5px;
    background-color: #FEFEFE;
}
.icon_delete_popup {
    cursor: pointer;
    margin-top: -25px;
    float: right;
    margin-right: -15px;
}
.content-body-form__title {
    text-align: center;
    color: #6e634f;
    text-transform: uppercase;
    /*font-family: 'futuraroundbold';*/
    margin-bottom: 20px;
}
.content-body-form-row {
    margin: 0 -10px;
}
.content-body-form-column_popup {
    /* float: left; */
    width: 100%;
    /* padding: 0 10px; */
}
.content-body-form__input {
    width: 313px !important;
    height: 30px !important;
    margin-bottom: 13px;
    height: 36px;
    border: 2px solid #e8b846;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
    color: #9b9b9b;
    padding: 0 10px;
}
.content-body-form__info {
    color: #6e634f;
    font-size: 14px;
    margin-bottom: 20px;
}
.content-body-form__info span {
    color: #ff2f2f;
}
.content-body-form__btn {
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #0D6D22;
    display: block;
    width: 190px;
    height: 38px;
    margin: 0 auto;
}
.btn:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    /*background-color: #468f58;*/
}
.inp2_pad{
    padding-top: 4px;
    padding-bottom: 4px;
}
.inp2_padfont{
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    color: #696868;
    line-height: 8px;
    height: 23px;
}
.form-question{
    padding: 30px;
    background-color: #F1F1F1;
    border-radius: 10px;
    font-size: 12px;
    font-family: Tahoma;
    color: #000;
    line-height: 8px;
    /* height: 930px; */
    height: auto;
    overflow: hidden;
    padding-top: 30px;
}
.quantity__inp{
    width: 25px;
    border: solid 1px #757171 !important;;
    border-radius: 0 !important;
}
.price__inp_td,
.quantity__inp_td{
    padding: 0 15px !important;
}
.price__inp_td .price__inp {
    width: 50px;
}
.float_price{

}
.float_inner_border{
    border: solid 1px #8a8380;
    padding-left: 6px;
    padding-right: 6px;
}
.float_inner{
    padding-left: 6px;
    padding-right: 6px;
}
.float_right_block{
    margin-top: 10px;
    float: right;

}
.upload_block{
    cursor: pointer;
    padding: 4px 0px;
    padding-left: 45px;
    width: 205px;
    font-weight: normal;
    line-height: 26px;
    color: #afaeae;
    font-size: 14px;
    height: 28px;
    background: url(../img/screpka.png) no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
}
.topWindow {
    position: fixed;
    top: 81px;
    z-index:9198;
}
.clear_right_button {
    margin-top: 15px !important;
}
.sell_price{
    width: 120px;
    background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.sell_price_text{
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}
.sell_price_img{
    text-align: center;
}
.th_articul {
    width: 214px;
}
.td_articul {
    width: 184px;
}
.th_model {
    width: 339px;
}
.td_model {
    width: 300px;
}
.th_price_RUB {
    width: 78px;
}
.td_price_RUB {
    width: 80px;
}
.th_price_want {
    width: 101px;
}
.td_price_want {
    width: 64px;
}
.th_count {
    width: 76px;
}
.td_count {
    width: 48px;
}
.cart_th_brand {
    width: 80px;
}
.cart_th_articul {
    width: 185px;
}
.cart_th_model {
    width: 310px;
}
.clear_cart_button {
    padding: 5px 7px !important;
}
.valuta{
    float: right;
}
.full_cart{
    /*margin-right: 40px;*/
    float: right;
}
.empty_cart{
    /*margin-right: 40px;*/
    float: right;
}
.header__callback.noprint {
    color: #11832a;
    font-size: 12px;
    text-decoration: underline;
}
.style_el{
    font-size: 15px;
    font-weight: bold;
    color: #5f5b5b;
}
.zakaz_new{
    border-collapse: collapse;
    border: solid 1px #5f5b5b;
    font-size: 14px;
}
.zakaz_new td{
    text-align: center;
    padding: 5px;
    border: solid 1px #5f5b5b;
}
.zakaz_new td.articule,
.zakaz_new td.model {
    text-align: left!important;
    padding-left: 15px;
    position: relative;
}
.duphandler {
    position: absolute;
    cursor: none;
    top: 0;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    /*background-color: red;*/
}
.zakaz_new th{
    text-align: center;
    border-right: 1px solid white;
    border-bottom:2px double  #ead5d5;
    color: white;
    background-color: #147929;
    padding: 5px;
    font-weight: normal;
}
.delete_key.icon_delete{
    color: #fff;
    display: inline-block;
    padding: 6px;
    height: 10px;
    width: 10px;
    line-height: 0px;
}
#send_order{
    /*background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
    background: url(../img/titl.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    width: 188px;
    padding: 2px 31px 5px 31px !important;
    font-size: 14px;
}
#print_cart{
     background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0;
}
.content-body-form__btn2.clin{
    border-radius: 0;
}

.red_button {
    /*background-color: #a90000;*/
    background: rgb(232,16,35);
    background: linear-gradient(193deg, rgba(232,16,35,0.773546918767507) 0%, rgba(168,14,20,1) 35%);
    box-shadow: -1px -1px 0px 0px rgba(232,16,35, .2);
    border: none !important;
}

.float_button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
}

.header__callback:hover{
    cursor: pointer;
}
.block_kurs{
    float: right;
    display: none;
}
.on{
    pointer-events: none;
    cursor: default;
    color: white;
    background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
/*.valuta a.on {*/
    /*color: #fff;*/
    /*text-decoration: none;*/
    /*background-color: #0A4A18;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/
    /*height: 19px;*/
    /*line-height: 18px;*/
    /*width: 29px;*/
/*}*/
.currency_flag{

    text-align: center;
    line-height: 18px;
    width: 10px;
    padding: 3px 5px 2px 5px;
    text-decoration:none;
}

.error_border{
    border: 1px solid #f00 !important;
}
.load_gif{
    display: none;
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;

}
.button_confirm:hover{
    cursor: pointer;
}
.button_inconfirm:hover{
    cursor: pointer;
}
.button_in_cart{
    height: 25px;
    padding: 5px 31px !important;
}
.content-body-form__btn2.btn_2.clin.noprint.button_in_cart{
    border: none;
    /*margin-left: 60px;*/
}
.oformit_order{
    background: url("../img/titl.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

.bottom_text_for_brands {
    z-index: 9999;
}

.bottom_text_for_brands p{
    z-index: 9999;
}

.autocompleter {
    top: 37px;
    max-height: 235px;
    overflow: hidden;
    overflow-y: scroll;
    width: 380px;

    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.1);
}

.autocompleter-item {
    font-size: 12px;
}

.autocompleter-item:hover {
    background: #ccc;
}

.autocompleter-item span {
    color: red;
    font-weight: bold;
    z-index: 10000;
}

.grid {
    display: grid;
}

.cartridge_purchase {
    padding: 25px 0;
}
.cartridge_purchase ul {
    padding: 0;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
    -ms-flex-line-pack: center;
    align-content: center;
}

.cartridge_purchase ul li {
    padding: 0;
    border: none;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    list-style: none;
    box-shadow: -1px 1px 6px -3px rgba(0,0,0,.83);
}

.cartridge_purchase ul li a {
    padding: 20px;
    display: block;
    transition: .3s ease;
}

.cartridge_purchase ul li img {
    width: 100%;
}

.seo_text {
    z-index: 9999;
    padding: 25px 0;
}

.seo_text p{
    z-index: 9999;
}

.red-highlighted-head {
    color: rgb(168,14,20) !important;
}

.go_top_block {
    background: url("/img/button_up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 74px;
    height: 22px;
    position: fixed;
    bottom: 10px;
    color: #FFF;
    text-decoration: none;
    padding-left: 60px;
    padding-top: 2px;
}
.go_top_block:hover,
.go_top_block:visited {
    color: #FFF;
}