body {
    font-family: Arial, sans-serif;
}
.user_bar {
    margin: 10px 0;
    padding-left: 5px;
}
.user_bar a {
    text-decoration: none;
}
.side_bar {
    width: 200px;
    background: #292828 url(/images/admin/side_bar_bg.png) repeat-y right top;
    color: #f5f5dc;
    font-size: 12px;
    height: 100%;
}
.side_bar_footer {
    background: #292828 url(/images/admin/side_bar_bg.png) repeat-y right top;
}
    .side_bar .main_item {
        display: block;
        padding: 5px 10px 5px 13px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        border-bottom: 1px solid #313030;
    }
    .main_item .item_icon {
        background: url(/images/admin/menu_item_icon_default.png) no-repeat left top;
        padding-left:23px;
    }
    .side_bar .main_item:hover {
        background: #444444;
    }
    .side_bar a {
        color: #f5f5dc;
        text-decoration: none;
    }
    .side_bar .item_with_sub {
        border-bottom: 0 !important;
    }
    .side_bar .sub_block {
        background: #141414;
        margin:5px;
        margin-top: 0;
    }
    .side_bar .item_active {
        background: #020202 url(/images/admin/menu_item_active.png) no-repeat right top !important;
        color: #e5ff00;
    }
	.sub_menu, .cats_menu, .cats_sub_menu {
		font-size: 13px;
		list-style: none;
		padding: 2px 5px 7px;
	}
    .side_bar .sub_menu li, .side_bar .cats_menu li, .side_bar .cats_sub_menu li {
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
    }
    .cats_menu .active {
        font-weight: bold;
        text-decoration: underline;
        color: #ffffff;
    }
.content_wrapper {
    /*background: #f1f1f1;*/
    font-size: 12px;
    padding-left: 30px;
    width: 790px;

}
.content_wrapper a {
    color: #333;
}
.module_title {
    margin-top:30px;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333333;
}
.module_title_divider {
    background: #e5ff00;
    border: 1px solid #ebebeb;
    height: 3px;
    margin: 10px 0;
}

.table_data .group{
    line-height: 150%;
    width: 150px;
}
.table_data .data_cell.data_cell_text{
    width: 300px;
}
.table_data {
    border: 1px solid #e8e8e8;
    border-bottom: none;
}
    .table_data td {
        padding-left: 5px;
		font-size:12px;
		line-height:1.4;
    }
    .table_data .group_table td{
        padding-left: 0;
    }
    .table_data .td_left {
        width: 30px !important;
        text-align: center !important;
    }
    .table_data tr {
        height: 45px;
    }
    .table_data .data_row {
        border-bottom: 1px solid #e8e8e8;
    }
    .table_data .data_row_odd {
        background: #f4f4f4;
    }
    .table_data .data_row_selected {
        background: #f6ffa6;
    }
    .table_data .data_cell {
        width: 90px;
    }
    .table_data .data_cell_id {
        width: 30px;
    }
	.data_cell_id_category, .data_cell_status, .data_cell_is_top  {
		width:50px !important;	
	}
    .table_data .data_cell_padded_title, .table_data .data_cell_title, .table_data .data_cell_service_title {
        width: auto;
        font-size: 15px;
        line-height: 14px;
    }
    .table_data .data_cell_articul {
        width: 100px;
        font-size: 14px;
    }
    .table_data .data_cell__created_at {
        width: 80px;
    }
    .table_data .header_row {
        background: #f1f1f1;
        color: #2f2f2f;
        font-size: 12px;
        font-weight: normal;
        height: 50px;
    }
    .table_data .data_cell a {
        text-decoration: none;
		font-size:12px;
		line-height:1.4;
    }
.footer {
    /*background: #f1f1f1;*/
    color: #888888;
    text-align: center;
    font-size: 10px;
    margin: 20px 0 10px;
}
.footer .h_title{
    margin: 7px 0 20px 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.form_info {
    color: #2c2c2c;
    border: 1px solid #e8e8e8;
}
    .form_info .input_block_odd {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f1f1f1;
        min-height: 32px;
    }
    .form_info .input_label {
        /*color: #ccc;*/
        padding-top: 9px;
        font-size: 15px;
        width: 130px;
        margin-right: 10px;
        float: left;
        margin-left:10px;
    }

    .form_info .group_table .group_horizontal_column .input_label {
        width: auto;
        padding: 0;
    }
    .form_info .group_table .group_vertical_column .input_label {
        padding-bottom: 2px;
    }

    .form_info .input_block {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #fff;
        min-height: 32px;
    }
    .form_info .input_text {
        width: 560px;
        font-size: 15px;
        border: 1px solid #e8e8e8;
        padding: 5px;
        float:left;
    }
    .menu_items_input_block_href .input_text.readonly {
        background: #ebebeb;
        color: #1a1a1a;
    }
    .form_info .group_table .group_horizontal_column input.input_text {
        width: 60px !important;
    }
    .form_info .translate_group_table th{
        border: 1px solid #E1E1E1;
        font-size: 14px;
        padding: 10px;
        background: #F1F1F1;
    }
    .form_info .translate_group_table .group_vertical_column{
        background: #F1F1F1;
    }
    .form_info .translate_group_table {
        margin: 10px 0 10px 10px;
    }
    .form_info .group_table .group_vertical_column {
        padding: 10px;
        border: 1px solid #E1E1E1;
    }
    .form_info .group_table .group_vertical_column input.input_text ,
    .form_info .group_table .group_vertical_column select.input_text {
        width: 350px !important;
        margin-top: 3px;
    }
    .form_info .group_table .group_horizontal_column textarea.input_text ,
    .form_info .group_table .group_vertical_column textarea.input_text {
        width: 350px !important;
        font-size: 12px;
        margin-top: 3px;
    }
    .data_cell textarea.input_text {
        width: 350px !important;
        font-size: 12px;
    }
    .form_info .input_readonly {
        width: 560px;
        font-size: 14px;
        padding: 5px;
        float:left;
        margin-top: 4px;
    }
    .form_info .input_description {
        margin-top: 3px;
        font-size: 10px;
        color: #999;
        font-style: italic;
    }
    .form_info .button , .inline_handler.button{
        font-size: 20px;
        padding: 12px 8px;
        background: #e5ff00;
        border: 1px solid #666;
        color: #2e2e2e;
        float:left;
        cursor: pointer;
        text-decoration: none;
    }
    .inline_handler.button {
        display: inline-block !important;
        float: none !important;
    }
    .form_info .actions_bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }
.module_info_tabs {
    padding-left: 10px;
}
    .module_info_tab {
        float: left;
        padding: 10px 7px;
        cursor: pointer;
        border:1px solid transparent;
    }
    .module_info_tab_active {
        border:1px solid #b4b4b4 !important;
        background: #fbfbfb;
    }
.product_modification_block {
    margin: 5px 0;
    border: 2px solid #ccc;
}
.list_item_add {
    background: transparent url(/images/admin/icon_add.png) no-repeat 15px 10px;
}
.list_item_filter {
    background: transparent url(/images/admin/icon_filter.png) no-repeat 15px 10px;
}
.list_item_link {
    background: transparent url(/images/admin/icon_link.png) no-repeat 15px 10px;
}
.list_item_active {
    background-color: #f1f1f1 !important;
}
.list_tab_item {
    font-size: 12px;
    padding-left: 39px;
    padding-right: 18px;
    float: left;
    display: inline-block;
    line-height: 45px;
    text-decoration: none;
}
.actions_bar {
    padding: 10px;
}
.group_delete_handler {
    cursor: pointer;
}

.form_info .input_label_login {
    color: #ccc;
    padding-top: 9px;
    font-size: 18px;
    /*width: 70px;*/
    margin-right: 10px;
    float: left;
    margin-left:10px;
}
.form_info .input_text_login {
    background: #333;
    color:#999;
    width: 100px;
    font-size: 15px;
    border: 1px solid #666;
    padding: 5px;
    float:left;
}
.order_info_table tr td {
    padding:5px 5px;
}
.view_messages {
    padding : 0 0 10px 0;
}

.view_messages .view_message_error{
    color: red;
    padding: 2px 0;
}
.view_messages .view_message_success{
    color: green;
    padding: 2px 0;
}

.multiplefile_table td{
    padding: 3px;
}
.multiplefile_table .header td{
    font-weight: bold;
}

.top_category_group {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.date_toggler{
    width: 20px;
    float: left;
    height: 20px;
    background: url('/images/libs/datepicker/toggler.png') 0px 2px no-repeat;
    cursor: pointer;
}



.form_info .input_radiogroup{
    padding-top: 5px;
}

.admin_navigation{
    float: right;
    text-align: center;
    font-size: 18px;
    color: #555;
}
.admin_navigation a{
    color: #555;
}
.admin_navigation a:hover , .admin_navigation .item_active{
    color: #000;
}

.view_messages {
    padding : 0 0 10px 0;
}

.view_messages .view_message_error{
    color: red;
    padding: 2px 0;
}
.view_messages .view_message_success{
    color: green;
    padding: 2px 0;
}

.form_info .input_error{
    color: red;
}

.datepicker_input {
    float: left;
}
.form_info .group_vertical_column .group_vertical_column_item{
    padding-top: 0;
}

.form_info .group_vertical_column .group_vertical_column_item .readonly{
    padding-top: 9px;
    display: block;
    float: left;
}

.errors_block {
    font-size: 12px;
}
.errors_block .input_error{
    color: red;
}

.data_row_inactive {
    background: #f0f8ff !important;
}

table.tp5 td{
    padding: 5px
}

.dashed {
    border-bottom: 1px dashed;
}

.green{
    color: green;
}
.red {
    color: red;
}
.fs20{
    font-size: 20px;
}

.lh22{
    line-height: 22px !important;
}

.right_block, .right_block0 {margin-left: 0px; font-size: 14px; margin-top: 3px; display: block;}
.right_block1 , .right_block2 {font-size: 12px;}
.right_block3 , .right_block4 , .right_block5 {font-size: 11px;}
.right_block6 , .right_block7 , .right_block8 {font-size: 10px;}

.wrap_table{
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.wrap_table td{
    vertical-align: middle;
}
.login_box {
    width: 400px;
    margin: auto;
}
.login_box .login_title , .login_box .access_title {
    font-size: 24px;
    line-height: 30px;
}
.login_box a{
    color: #2e4e8c;
    text-decoration: underline;
}
.login_box a:hover{
    text-decoration: none;
}
.login_box .access_title .access_tip{
    font-size: 11px;
}
.login_box form input{
    width: 150px;
    font-size: 13px;
    margin: 7px 0 10px 0;
}
.login_box form input.input_submit{
    width: 70px;
}
.login_box .inline{
}

.production_warning{
    width: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    color: red;
    background: #eedddd;
}
.production_warning span{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.lang_bar a{
    text-decoration: underline;
}
.lang_bar .active {
    color : #e5ff00;
    text-decoration: none;
}

.acl_rights_data_cell_padded_alias {
    white-space: nowrap;
    padding-right: 10px;
    font-size: 11px;
}
.acl_rights_data_cell_title {
    font-size: 13px !important;
}
.structure_data_cell_status{
    padding-right: 5px;
}
.structure_data_cell_slug {
    padding-right: 5px;
}

.edit_object {
    background: url("/images/admin/pencil.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
}
.moveup_object {
    background: url("/images/admin/go-up.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none;
}
.movedown_object {
    background: url("/images/admin/go-down.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 18px;
    text-decoration: none;
}
.movetop_object {
    background: url("/images/admin/go-top.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none;
}
.movebottom_object {
    background: url("/images/admin/go-bottom.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 18px;
    text-decoration: none;
}

.icon_text {
    background: url("/images/admin/icon_text.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
}

.icon_duplicate {
    background: url("/images/admin/icon_duplicate.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
}

.list_icon_text {
    background: url("/images/admin/icon_text.png") no-repeat scroll 15px 10px transparent;
}
.list_icon_tick{
    background: url("/images/admin/icon_tick.png") no-repeat scroll 18px 13px transparent;
}

.structure_actions_cell {
    width: 120px;
}
.structure_data_cell__node_id_parent , .structure_data_cell_slug, .structure_data_cell_status{
    width: 150px !important;
    font-size: 11px;
}
.structure_data_cell_padded_title {
    padding-right: 5px;
    font-size: 14px !important;
}

td.news_translates_data_cell_title ,
td.news_data_cell_title {
    font-size: 15px !important;
    padding-right: 5px;
}
td.news_translates_data_cell_slug ,
td.news_data_cell_slug {
    padding-right: 5px;
    font-size: 11px;
}
td.news_translates_data_cell_publish_date ,
td.news_data_cell_publish_date {
    font-size: 11px;
}
td.news_translates_data_cell_short_content ,
td.news_data_cell_short_content {
    width: 220px !important;
    padding: 8px 5px;
}
td.news_data_cell_original_link,
td.news_translates_data_cell_original_link {
    padding-right: 5px;
}

.top_service_widgets_data_cell_title{
    font-size: 15px !important;
}

.structure_item_translates_data_cell_original_link {
    font-size: 11px;
    white-space: nowrap;
    padding-right: 5px;
}

.structure_item_translates_data_cell_title {
    font-size: 14px !important;
}

.structure_item_translates_data_cell__translation_status{
    font-size: 11px;
    width: 70px !important;
}

#form-info .readonly_link{
    line-height: 30px !important;
}
#form-info .readonly_text_field{
    line-height: 30px !important;
}

.top_service_widgets_input_block_image,
.mp_top_slides_input_block_image,
.mp_bottom_slides_input_block_image{
    padding-left: 10px;
}
.mp_top_slides_data_cell_title{
    font-size: 15px !important;
}
.mp_bottom_slides_data_cell_title{
    font-size: 15px !important;
}
.menu_items_data_cell_href{
    width: 250px !important;
    font-size: 11px;
}
.menu_items_data_cell_id_group {
    width: 170px !important;
    font-size: 11px;
}
.menu_items_actions_cell {
    width: 50px !important;
}
.twl_table td textarea {
    width: 200px;
    height: 150px;
}
.twl_table td,
.twl_table th{
    padding: 5px;
    width: 25%;
    border: 1px solid gray;
}
.twl_table {
    margin-bottom: 12px;
    width: 600px;
    border: 1px solid;
    border-collapse: collapse;
}
.twl_table input{
    border: 1px solid #e8e8e8;
    padding: 3px;
}
.top_link_widgets_input_block_image img {
    width: 600px;
}

.right_has_children_block .children_handler{
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    width: 11px;
    height: 11px;
    text-align: center;
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    left: 0px;
    top: 3px;
}
.right_has_children_block{
    position: relative;
}

.right_block .hl{
    background: #ffffcc;
}

.right_block {
    padding: 3px 0 3px 32px;
    position: relative;
}
.right_block input{
    position: absolute;
    left: 13px;
    top: 0;
}

.group_vertical_column_item .input_file{
    margin-top: 6px;
}

.upload_block .progressWrapper {
	width: 357px;
	overflow: hidden;
}

.upload_block .progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.upload_block .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.upload_block .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.upload_block .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.upload_block .blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.upload_block .progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.upload_block .progressBarInProgress,
.upload_block .progressBarComplete,
.upload_block .progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.upload_block .progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.upload_block .progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.upload_block .progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

.upload_block a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../../images/admin/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

.upload_block a.progressCancel:hover {
	background-position: 0px 0px;
}

.photos_list {
    overflow: hidden;
    padding: 10px 0;
    width: 600px;
}

.photo_item {
    width: 100px;
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}
.photo_item img{
    width: 100px;
}
.photo_item .text_input{
    width: 76px;
    margin-top: 2px;
    padding: 2px 5px 2px 17px;
    border: 1px solid #E8E8E8;
}
.photo_item .radio_handler input{
    margin: 0 2px 5px 0;
    float: left;
}
.photo_item .radio_handler {
    display: block;
    line-height: 150%;
    overflow: hidden;
    padding-bottom: 2px;
}

.form_info .datepicker_holder {
    padding-top: 5px;
}
.form_info .datepicker_readonly{
    top: 10px;
    position: relative;
}

.text_input_ua {
    background: url('../../images/admin/flag_ua.gif') 1px 3px no-repeat
}
.text_input_en {
    background: url('../../images/admin/flag_en.gif') 1px 3px no-repeat
}

.field_row .editable_field_block{
    display: inline;
}
.field_row {
    width: 270px;
    padding: 2px 0;
}

.field_row .flag{
    margin-top: 2px;
    margin-right: 2px;
}

.field_row .input_text{
    border: 1px solid #E8E8E8;
    padding: 3px;
    font-size: 13px;
    width: 230px;
}

.data_cell_inline_translateable {
    padding: 4px 0;
}


.people_data_cell_name{
	width:250px !important;	
}
.data_cell_general_position {
	width:200px !important;	
}

.news_actions_cell {
    width: 93px;
}